*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container h1{
    position: relative;
    top: 330px;
    font-size: xxx-large;
    color: rgb(241, 235, 235);
    text-align: center;
    font-style: italic;
    color: whitesmoke;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg{
    
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 1.6;
    
      
}

header{
    background-color: black;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
    color: white;
    font-size: xx-large;
}

.but{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

header p{
    font-family: cursive;
    font-style: bold;
    position: relative;
    left: 10px;

}

.menu img{
    width: 450px;
    height: 250px;
    position: relative;
    top: 350px;
    margin: 30px;
    padding: 0px;
}

.container input{
    width: 400px;
    height: 40px;
    position: relative;
    top: 350px;
}

#zoomA {
    /* (A) OPTIONAL DIMENSIONS */
    width: 400px;
    height: 250px;
   
    /* (B) ANIMATE ZOOM */
    /* ease | ease-in | ease-out | linear */
    transition: transform ease-in-out 0.3s;
  }
   
  /* (C) ZOOM ON HOVER */
#zoomA:hover { transform: scale(1.2); }

